.social {
    display: flex;
    margin-top: 1.5rem;
    }
.social li {
    height: 2rem;
    margin-right: 0.5rem;
    text-align: center;
    width: 2rem;
    }

.social a {
        align-items:center;
        display:flex;
        font-size: 1.5rem;
        height: 2rem;
        justify-content: center;
        opacity: 0.5;
        transition-property: opacity, transform;
        width: 2rem;
}

.urundetay{
    border-bottom: 1px;
    border-color: rgb(0, 0, 0);
}

